@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;1,700&family=Yesteryear&display=swap');

/* ----------Website Theme----------- */

:root {
    --hue-1: 257;
    --hue-2: 47;
    --main-color-1: hsl(var(--hue-1), 100%, 60%);
    --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
    --main-color-2: hsl(var(--hue-2), 100%, 61%);
    --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
    --section-padding: 5rem;
    --img-section-padding: 0;
   

}

body {
    --bg-color: hsl(var(--hue-1), 100%, 99%);
    --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
    --bg-color-2: #fff;
    --bg-color-3: hsl(var(--hue-1), 100%, 98%);
    --bg-color-transparent: rgba(255, 255, 255, 0.6);
    --heading-color: hsl(var(--hue-1), 61%, 24%);
    --text-color: hsl(var(--hue-1), 24%, 64%);
    --text-color-1:hsl(var(--hue-1), 24%, 45%);

}


/*--------------------Dark Theme Styling--------------*/

body.dark {
    --bg-color: hsl(var(--hue-1), 19%, 15%);
    --bg-color-1: hsl(var(--hue-1), 21%, 11%);
    --bg-color-2: hsl(var(--hue-1), 23%, 19%);
    --bg-color-3: hsl(var(--hue-1), 23%, 24%);
    --bg-color-transparent: hsla(var(--hue-1), 23%, 19%, 0.6);
    --heading-color: hsl(var(--hue-1), 100%, 95%);
    --text-color: hsl(var(--hue-1), 14%, 51%);
}

body.dark .st1 {
    fill: hsl(var(--hue-1), 18%, 29%);
}

body.dark .shape.square {
    opacity: 0.07;
}

body.dark .toggle-btn {
    background-color: var(--bg-color-3);
}

body.dark .toggle-btn:hover {
    filter: brightness(120%);
}

body.dark .nav-link:hover::after,
body.dark .nav-link.active::after {
    opacity: 0.6;
}

body.dark .form-input:hover {
    filter: brightness(110%)
}


/* ----------General Styles---------- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    /* background-color: var(--bg-color); */
    font-family: "Poppins", sans-serif;
    transition: 0.3s background-color;
}

body.stopScrolling {
    height: 100%;
    overflow: hidden;
}


::selection {
    background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
    color: #fff;
}

a {
    text-decoration: none;
}

img ,
picture {
    max-width: 100%;
    display: block;
}

/* ul {
    list-style: none;
} */

/* -----------Reusable CSS Code-------------- */
.container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.logo {
    margin-right: 1.5rem;
    font-family: "Abril Fatface", cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;
    transition: 0.3s;
}

.logo span {
    color: var(--main-color-1);
}

.title {
    color: var(--heading-color);
    text-transform: capitalize;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
}

.prt-sub-heading {
    color: var(--heading-color);
    text-transform: none;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
}

.heading {
    color: var(--heading-color);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.1rem;
    transition: 0.3s color;
    margin-bottom: 2rem;
}

.sub-heading {
    color: var(--heading-color);
    text-transform: none;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
}

.card_text {
    margin: 1rem;
    color: var(--text-color-1);
    font-size: 1rem;
    line-height: 2.3;
}

.text {
    color: var(--text-color-1);
    font-size: 1rem;
    padding: 0.13rem 0.75rem;
    line-height: 2.3;
    transition: 0.3s color;
}

.cta {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .btn {
    margin-right: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 10px;
    background-color: var(--main-color-1);
    color: #fff;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    min-width: 125px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--main-color-dark-1);
}

.btn.secondary-btn {
    position: relative;
    background-color: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    padding: 0.15rem 0;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius: 0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.secondary-btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--main-color-1);
    transition: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before {
    width: 100%;
}

.btn.secondary-btn.sm {
    padding: 0.07rem 0.1rem;
    font-size: 0.78rem;
    border-bottom-width: 2px;
}

.btn.secondary-btn.sm::before {
    height: 2px;
    bottom: -2px;
}


.section {
    position: relative;
    padding: var(--section-padding) 0;
}

.text_section {
    position: relative;
    padding: 5rem 0;
    background-color: var(--bg-color);
}

.img_section {
    position: relative;
    padding: 3rem;
}


.form-input {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--bg-color-3);
    border: 2px solid var(--bg-color-3);
    width: 100%;
    border-radius: 10px;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--heading-color);
    outline: none;
    transition: 0.3s;
}

.form-input::placeholder {
    color: var(--text-color);
}

.form-input:hover {
    filter: brightness(97%)
}

.form-input:focus,
.form-input:valid {
    filter: brightness(100%);
    background: var(--bg-color-3);
    border-color: var(--main-color-1);
}

.triangle {
    width: 95px;
    opacity: 0.18;
}

.dots {
    width: 112px;
}

.square {
    width: 70px;
    transition: 0.3s opacity;
}

.display_box {
    background-color: var(--bg-color-2);
    padding: 4rem 6rem;
    border-radius: 20px;
    width: 100%;
    position: relative;
    transition: 0.3s background-color;
}

.text-box {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: space-between;
    margin-top: 5rem;
    text-align: center;
}






/* -----------Navbar Styling-------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

header.scrolled {
    background-color: var(--bg-color-transparent);
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);

}

nav.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


header .logo {
    height: 120px;
    line-height: 120px;
}

header.scrolled .logo {
    height: 80px;
    line-height: 80px;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;

}

.nav-link:hover,
.nav-link.active {
    color: var(--heading-color);
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    opacity: 0.2;
}

.toggle-btn {
    color: var(--heading-color);
    min-width: 40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    margin-right: 1rem;
}

.toggle-btn:hover {
    filter: brightness(97%);
}

.hamburger {
    display: none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
}

.hamburger .bar {
    width: 100%;
    height: 2px;
    background-color: var(--heading-color);
    border-radius: 3px;
    position: absolute;
}

.hamburger .bar:first-child {
    top: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}

.hamburger .bar:last-child {
    bottom: 1rem;
    transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
}

/* -----------Showcase Area Styling-------------- */

.showcase-area {
    /* padding: 120px 0; */
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-area .container {
    display: grid;
    grid-template-columns: 1fr 650px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.showcase-area .sub-heading {
    margin-bottom: 0.7rem;
}

.showcase-area .heading {
    font-size: 3.5rem;
}

.showcase-area .text {
    margin: 0.8rem 0;
}


.showcase-image {
    position: relative;
    width: 100%;
    min-height: calc(100% + 120px);
    /* background-image: linear-gradient(124deg,
            var(--main-color-1) 53%,
            var(--main-color-2) 53%); */
    margin-top: -120px;
    border-radius: 0 0 80px 80px;
}

.showcase-image .person {
    position: absolute;
    width: 95%;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.showcase-area .circle {
    position: absolute;
    width: 190px;
    left: 0;
    top: 80%;
    transform: translate(-50%, -50%);
}

.showcase-area .dots {
    position: absolute;
    left: 100%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.showcase-area .square {
    position: absolute;
    left: 35%;
    bottom: 20px;
    transform: translate(-50%, -50%);
}

/* -----------About Section Styling-------------- */

.about .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 190px 190px;
    justify-content: center;
    column-gap: 2.5rem;
    margin-right: 2rem;
    position: relative;
}

.about-card {
    background-color: var(--bg-color-2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s transform, 0.3s background-color;
}

.icon {
    width: 60px;
}

.st0 {
    fill: var(--bg-color-3);
    transition: 0.3s fill;
}

.st1 {
    fill: #c5e3ea;
    transition: 0.3s fill;
}

.st2 {
    fill: var(--heading-color);
    transition: 0.3s;
}

.about-card h3 {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.3px;
    transition: 0.3s color;
}

.about-card:hover {
    transform: scale(1.1);
}

.about-card:hover .st2 {
    fill: var(--main-color-1);
}









/* .about-grid::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--main-color-1);
    z-index: -1;
    opacity: 0.07;
} */

.about .triangle {
    position: absolute;
    left: 90%;
    top: 27%;
    transform: translate(-50%, -50%);
}

/* -----------Discovery Section Styling-------------- */
.discovery.section {
    padding: 1rem;
}

.box {
    background-color: var(--bg-color-2);
    padding: 3.75rem 6rem;
    border-radius: 20px;
    width: 100%;
    position: relative;
    transition: 0.3s background-color;
    
}


.img-title {
    color: var(--heading-color);
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.3s color;
}

.img-wrap {
    width: 100%;
    padding: 0.5rem;
    position: relative;
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.card-img .survey{
    position: absolute;
    width: 100%;
    padding: 8rem 8rem;
}

.title span{
    text-transform: none;
 font-size: 1rem;
}
.statement {
    color: var(--heading-color);
        font-size: 1.5rem;
        letter-spacing: 0.5px;
        padding: 0.13rem 0.75rem 0 3rem;
        margin-bottom: 1.2rem;
        font-weight: 500;
        transition: 0.3s color;
        /* font-family: "Abril Fatface", cursive; */
}


.survey-quote {
    color: var(--heading-color);
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    padding: 0.13rem 0.75rem;
    margin-bottom: 1.2rem;
    font-weight: 500;
    transition: 0.3s color;
    font-family: "Abril Fatface", cursive;
}

.interviewee2 {
    display: flex;
    justify-content:flex-end;
    color: var(--heading-color);
    padding-right: 3rem;
}

.grid {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}


.sum {
    position: relative;
    margin: 79px 0px 10px calc((100% - 1055px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}




.summary {
    width: 760px;
    height: auto;
}


.grid .summary {
    position: relative;
    margin: 72px 0px 54px calc((100% - 1055px) * 0.5);
    left: 340px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

.survey-grid {
    
    /* display: grid; */
    grid-template-columns: 1fr auto;
        /* grid-template-rows: 190px 190px; */
        justify-content: center;
        column-gap: 5rem;
        row-gap: 100px;
        padding: 6rem;
        margin-right: 2rem;
        position: relative;
}

.survey {
    border: none;
}

.survey-image {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.survey-image img {
    width: 100%;
}

.feedback {
    margin-left: 5rem;
}

.text.res-sum,
.text.statement {
    padding: 0  2rem;

}

.sub-heading.survey {
    padding: none;
}

.research_findings.text_section {
    height: auto;
    width: 100%;
}

/* -------------------Define ------------------- */
.define{
    padding-top: 1rem;
}
.define-heading {
    padding-bottom: 1rem;
}
.define-wrap {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: space-around;
    
}

.define-desc {
    font-weight: normal;
}

.discovery-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discovery-title {
    padding-top: 1.5rem;
    
    
}

.d-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-title {
    color: var(--heading-color);
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease 0s;
    text-align: center;
}

.d-image {
    width: 100%;
}


.d-summary {
    color: var(--text-color-1);
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    padding-left: 4rem;
    margin-bottom: 1rem;
    font-weight: 300;
    transition: 0.3s color;
}

.data_list-container {
    padding-left: 5rem;
}

.text.sub-title {
    color: var(--text-color-1);
    font-size:1.3rem;
    text-align: start;
    margin: 0;
}

.text.d-summary  {
    line-height: 1.6;
}

.summary .define-desc {
   width: 100%;
}
 
.goal .col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 50%;
    min-width: 250px;
}

.develop .summary-col {
    display: flex;
    justify-content: flex-start;
}



/* --------------Carousel -------------- */
.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--bg-color-3);
}

/* .carousel > ul,  */
.carousel_track-container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    padding: 4rem 0 4rem 0;
    
}


.slide > img {
    display: block ;
    width: 100% ;
    height: 100% ;
    object-fit: contain;

}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button > img {
    width: 40px;
    
}

.carousel-button:hover,
.carousel-button:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 6rem;
}

.carousel-button.next {
    right: 6rem;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.carousel-indicator {
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: rgba(0, 0, 0, 0.75);
}

.slide .carousel-img {
    width: 70%;
    margin: auto;
}


/* ---------------Develop Section------------------ */

.develop.section,
.delivers.section {
    padding: 1rem;
}

.develop-box {
    background-color: var(--bg-color-2);
    padding: 4rem 6rem;
    border-radius: 20px;
    width: 100%;
    position: relative;
    transition: 0.3s background-color;
    
}

.develop-wrap {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    /* grid-template-rows: repeat(2, 100px); */
    justify-content: space-around;
    margin-top: 5rem;
    text-align: center;
}

.develop .goal .col,
.discovery .goal .col,
.delivers .goal .col {
    flex-basis: 20%;
}

.develop-img {
    width: 100%;
}

.develop-title {
    padding-top: 2rem;
}



.develop-desc {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    padding: 2rem 4rem;
    margin-bottom: 1rem;
    font-weight: 300;
    transition: 0.3s color;
    
}



.sub_heading {
    color:var(--text-color-1);
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;

}

.painpoint-list {
    color: var(--text-color-1);
    font-size: 1.3rem;
    text-align: start;
    margin: 0;
    font-weight: 300;
}

.list-container {
    padding-left: 4rem;
}


/* -------------HMW section------------------ */
.hmws.section {
    padding: 0;
}

.hmw-box {
    background-color: var(--bg-color-2);
    padding: 6rem 7rem;
    border-radius: 20px;
    width: 100%;
    position: relative;
}

.hmw-wrap {
    display: grid;
    grid-template-rows: repeat(4, 60px);
    justify-content: flex-end;
    margin-top: 4rem;
}

.sub_heading.hmw-title{
    color: var(--heading-color);
    text-transform: none;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
}

.hmw-desc {
    color: var(--text-color-1);
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
    font-weight: 300;
    position: relative;
}

span {
    font-weight: bold;
}

.ideation-text-box {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 4rem;
    vertical-align: center;
}

.sub_heading.ideation-title {
    color: var(--heading-color);
    text-transform: none;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
}

.develop-desc-ideation {
    text-align: left;
    font-size: 1.3rem;
    
}

.ideation.text-box {
    position:relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.ideation-title {
    color: var(--heading-color);
    text-transform: none;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
    margin-top: 3rem;
}

.ideation p.text {
    padding: 1rem 2rem;
}


/* ------------------Delivery Section------------------- */

.deliver_box-wrap {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: space-around;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
}

.deliver-img {
    width: 100%;
}

.deliver-title {
    padding-top: 1rem;
}

.wireframe-img {
    width: 80%;
}

.deliver-step .wireframe-img {
    margin-left: 0.8rem;
}

.deliver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.deliver-desc p.text {
    padding: 2rem;
} 


.content-grid {
    display: flex;
    grid-template-columns: 500px auto ;
    justify-content: space-around;
    align-self: start;
    margin-top: 5rem;
}



video {
    width: 100%;
    padding-top: 2rem;
}

.homepage {
    object-fit: cover;
}

.delivery-container {
     width: 80%;
    margin: 100px auto;
}

.row {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 2rem;
}

.summary_section .row {
    display: flex;
    justify-content: center;
}

.summary_section {
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}
.col {
    flex-basis: 50%;
    min-width: 250px;
}

.col .feature-img{
    display: flex;
    align-items: center;
}

.text-col {
    flex-basis: 30%;
}


.title-text {
    padding-bottom: 1rem;
}

.feature-video {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}


.feature-img img {
    width: 90%;
    padding: 2rem;
    margin: auto;
}

.list {
    color: var(--text-color-1);
    font-size: 1rem;
    text-align: start;
    margin: 0;
    font-weight: 300;
    line-height: 1.8rem;
    padding-left: 2rem;
}

.delivery-summary .text {
    line-height: 1.6rem;
}

video {
    cursor: pointer;
}


/* -----------Footer Styling-------------- */


footer {
    padding: 4rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .social-media {
    display: flex;
}

footer ul {
   list-style: none;
}

.social-link {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: var(--bg-color-1);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social-link:hover {
    color: var(--main-color-1);
}

/* -----------1000PX Screens-------------- */

@media(max-width: 1000px) {
    .sub-heading {
        font-size: 0.75rem;
    }

    .heading {
        font-size: 2rem;
    }

    .showcase-area .heading {
        font-size: 2.7rem;
    }

    .text {
        font-size: 0.84rem;
        margin: 1.3rem 0;
    }

    .btn {
        padding: 0.8rem 1.6rem;
        font-size: 0.8rem;
        border-radius: 10px;
        min-width: 100px;
    }

    .btn.secondary-btn {
        font-size: 0.85rem;
    }

    .form-input {
        font-size: 0.8rem;
        padding: 0.8rem 1.45rem;
        border-radius: 10px;
    }

    .log {
        font-size: 1.45rem;
    }

    header .logo {
        height: 100px;
        line-height: 100px;
    }

    .nav-link {
        font-size: 0.7rem;
    }

    .showcase-area {
        padding: 100px 0;
    }

    .showcase-area .container {
        grid-template-columns: 1fr 400px;
        height: 450px;
    }

    .skills-box {
        padding: 4rem;
    }

    .sk-progress {
        transform: scale(0.85);
    }

    .services .container {
        column-gap: 2.5rem;
    }

    .contact .container {
        column-gap: 2.5rem;
    }

    .contact-form {
        padding: 2.5rem 2rem;
    }

    .contact-form h3 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .contact .form-input {
        margin-bottom: 0.8rem;
    }

    .filer-btn {
        font-size: 0.7rem;
    }
    
     
   
                

}

/* -----------768PX Screens-------------- */

@media(max-width: 768px) {
    :root {
        --section-padding: 4.5rem;
    }

    .triangle {
        width: 70px;

    }

    .dots {
        width: 65px;
    }

    .square {
        width: 55px;
    }

    .hamburger {
        display: block;

    }

    .links {
        order: 3;
        flex-basis: 100%;
        /*width 100%*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0 2rem;
        opacity: 0;
        transition: 0.3s;
    }

    header nav {
        justify-content: space-between;
    }

    .links ul {
        position: relative;
        flex-direction: column;
    }

    .nav-link {
        margin: 1.5rem 0;
        color: var(--heading-color);
        font-weight: 500;
    }

    .toggle-btn {
        margin: 0;
    }

    .link ul::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0.5px;
        background-color: var(--heading-color);
        opacity: 0;
        top: -0.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
    }

    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
    }

    header {
        height: 505px;
        max-height: 100px;
        overflow: hidden;
    }

    header.scrolled {
        height: 485px;
        max-height: 80px;
    }

    body.open header {
        max-height: 505px;
        background-color: var(--bg-color-2);
    }

    body.open .overlay {
        opacity: 1;
        pointer-events: auto;
    }

    body.open .links ul::after {
        opacity: 0.7;
        width: 100%;
    }

    body.open header.scrolled {
        max-height: 485px;
    }

    body.open .links {
        opacity: 1;
    }

    .showcase-area .container {
        grid-template-columns: 1fr;
        height: revert;
        justify-content: center;
        row-gap: 4rem;
    }

    .showcase-image {
        min-height: revert;
        height: 100vw;
        max-height: 570px;
        max-width: 450px;
        margin-top: 0;
        border-radius: 40px;
    }

    .showcase-area .text {
        margin: 0.2rem 0;
    }

    .showcase-info {
        width: 100%;
        margin-top: 1rem;
    }

    .cta {
        margin-top: 1rem;
    }

    .showcase-area .circle {
        width: 120px;
    }

    .showcase-area .square {
        left: 80%;
        top: 20%;
    }

    .about .container {
        grid-template-columns: 1fr;
    }

    .about .grid {
        order: 3;
    }

    .heading br {
        display: none;
    }

    .about .text {
        margin: 1rem 0 1.5rem;
    }

    .about-grid {
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px;
        margin: 2.5rem 0 0 0;
        column-gap: 2rem;
        row-gap: 80px;
    }

    .icon {
        width: 50px;
    }

    .about-card h3 {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }

    .about-grid::before {
        width: 150px;
        height: 150px;
        border-width: 10px;
    }

    .box-desc {
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }

    .skills-wrap {
        grid-template-columns: repeat(2, 150px);
        row-gap: 1rem;
    }

    .sk-title {
        margin-top: 0;
    }

    .services .container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .services .text {
        margin: 1.5rem 0 0.5rem;
    }

    .services-grid {
        margin-top: 3.5rem;
        column-gap: 1.5rem;
        row-gap: 3.5rem;
        max-width: 600px;
    }

    .srv-card {
        padding: 1.8rem 1.7rem;
        min-height: 260px;
    }

    .srv-card h3 {
        font-size: 0.9rem;
    }

    .srv-card .text {
        margin: 0.4rem 0 0.8rem;
    }

    .portfolio-title {
        padding-bottom: 0;
    }

    .contact .container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contact .square {
        width: 60px;
        bottom: 68%;
        left: 75%;
    }

    .contact .triangle {
        left: 20%;
        top: 101%;
    }

    
}

/* -----------500PX Screens-------------- */

@media(max-width: 500px) {
    .container {
        padding: 0 1rem;
    }

    .showcase-area .square {
        display: none;
    }

    .showcase-area .container {
        row-gap: 4.5rem;
    }

    .showcase-area .heading {
        font-size: 2.4rem;
    }

    .skills-box {
        padding: 3rem 2.5rem;
    }

    .skills-wrap {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .services-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .srv-card {
        transform: none !important;
        min-height: auto;
    }

    .portfolio-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portfolio-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter-btn {
        margin-top: 1rem;
    }

    .portfolio .slider-wrap {
        width: calc(100% - 2rem);
        grid-template-columns: 50px 1fr 50px;
    }

    .images {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .prev-btn {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
        color: rgb(145, 128, 128);
    }

    .next-btn {
        grid-column: 3/4;
        grid-row: 1/2;
        z-index: 1;
        color: rgb(145, 128, 128);
    }

    .contact-form p {
        font-size: 1.2rem;
    }

    footer {
        padding: var(--section-padding) 0 1rem;
    }

    footer .text {
        order: 3;
        flex-basis: 100%;
        text-align: center;
        margin-top: 1rem;
    }
}